.billboard {
  min-height: 100vh;
  padding-top: 88px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &:before {
    background: $white;
  }

  &__logo {
    display: block;
    max-width: 40px;
    margin-bottom: 40px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__heading {
    margin: 0 0 12px;
    line-height: 125%;
  }

  &__subheading {
    margin: 0 0 72px;

    font-size: 1.285rem;
    font-weight: 300;
    line-height: 150%;
  }

  &__features {
    @extend .unstyled-list;

    display: flex;
    flex-wrap: wrap;
    max-width: 436px;

    margin-bottom: 104px;

    li {
      margin: 0 16px 16px 0;
    }
  }
}
