.features {
  &:before {
    background: $gray-100;
  }

  &__list {
    @extend .list-unstyled;
    margin-bottom: 56px;

    li {
      margin-bottom: 30px;
    }
  }

  &__item-heading {
    margin-bottom: 8px;
    line-height: 140%;
  }

  &__item-description {
    margin: 0;
    line-height: 150%;
  }

  .card {
    display: flex;
    height: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 36px;
    background: $gray-200;

    &--green { background: $accent-green; }
    &--pink { background: $accent-pink; }
    &--blue { background: $accent-blue; }
    &--orange { background: $accent-orange; }

    img {
      display: block;
      width: 100%;
      max-width: 24px;
    }
  }

  &__cta {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .features {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px -15px 64px;

      li {
        width: calc(50% - 30px);
        margin: 15px;
      }
    }

    &__cta {
      text-align: right;
    }
  }
}

@supports (display: grid) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 0 0 56px;

    li {
      width: auto;
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    .features__list {
      margin-bottom: 64px;
    }
  }
}
