//
// Colors
//

$black: #000000;
$white: #ffffff;

$gray-100: #F2F5F5;
$gray-200: #EEEEEE;

$accent-green: #64f696;
$accent-pink: #f33fc1;
$accent-blue: #5bccf0;
$accent-orange: #f89d34;

/*
  The colors will be name after this pattern: [color name]-[shade number].

  As these colors sit at the bottom of the spectrum, and in the absence of
  other shades, they were given the darkest shade numbers.
*/
$teal-800: #163232;
$teal-900: #081f1f;
