html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;

  /* making sure the fonts will render the same across different web browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  background: pink;
}
